*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: grey; */
}
h1{
    font-size: 2.5rem;
    font-weight: 800;
    padding: 1px;
    display: inline;
    vertical-align: middle;
}
header{
    height: 65px;


}
#logo{
    margin:3px 0px 3px 11px;
    vertical-align: middle;

}
.white {
    background-color: white;
}
.separate{
    height: 2px;
    background-color:white;
}
.list{
    list-style:none;
    list-style-position: inside;
    margin: 5px;
}

button{
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 7px;
    margin-left: 15px;
    
}
.blu{
    background-color:#1E90FF;
    border-color: #1E90FF;
}
.taskcheck{
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    border-color: green;
    background-color: white;
    color:green;
    font-size: 13px;
    padding: 0px 4px;

}
.container{
    max-width:1080px;
    margin:0px auto;
    background-color: #94ea08;
    border-radius: 5px;
}
.tag{
    border-radius: 14px;
    padding: 5px;
    font-size: 12px;
    color: white;
}